.formData {
  padding: 20px;
}

.formInput {
  display: block;
  background-color: yellow;
  border-radius: 3px;
}

.formInput:focus-within {
  outline-color: yellow;
  transform: scale(1.1);
}

.btnSubmit {
  margin-top: 10px;
  display: block;
  border-radius: 5px;
  border-color: tomato;
  background-color: white;
}
